---
BasedOnStyle: Google
AccessModifierOffset: "-1"
AlignConsecutiveAssignments: "true"
AlignTrailingComments: "true"
AllowAllParametersOfDeclarationOnNextLine: "false"
AlwaysBreakTemplateDeclarations: "Yes"
BreakBeforeBraces: Attach
ColumnLimit: "100"
ConstructorInitializerAllOnOneLineOrOnePerLine: "true"
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
IndentWidth: "4"
NamespaceIndentation: None
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: "true"
AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: BeforeComma
